.abt {
    padding-top: 17%;
}

.mepic {
    position: absolute;
    display: flex;
    transform: rotate(-5deg);
    float: left;
    margin-left: 15%;
}

.abtme {
    color: white;
    float: right;
    margin-right: 5%;
    text-align: justify;
    font-size: 25px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    word-spacing: 2px;
    width: 800px;
    white-space: initial;
    margin-bottom: 15px;
}

.abtmehover {
    text-decoration: none;
    cursor: pointer;
    color: #dcfb54;
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
}

a img { 
    display: none; 
    position: absolute;
    z-index: 2;
}
a:hover img { 
    display: block;
    left: 5%;
    top: 25%;
}

.abtmehover:hover {
    animation: jump 0.7s ease-in-out both;
}

@keyframes jump {
    100% {
        transform: translateY(2);
    }
}

.background {
    position: absolute;
    font-size: 200px;
    font-weight: 800;
    color: black;
    text-shadow: 1px 4px 20px rgb(15, 15, 15), 0 0 0 #000, 1px 4px 6px rgb(20, 20, 20);
    text-align: center;
    justify-content: center;
    margin-top: 300px;
    z-index: 1;
}