.footerbtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    overflow: hidden;  
}

.footer {
    align-items: center;
    justify-content: center;    
}

i {
    color: white;
}

i:hover {
    color: #dcfb54;
}