.footerbtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    overflow: hidden;  
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}